refs
.venv
**/__pycache__
**/*.pyc
/data/
.env
uv.lock
wandb
out/
*.log
docs
.github
.pytest_cache
_*
docs/benchmark_comparison_analysis.md
*.bak2

# latex

*.aux
*.bbl
*.blg
*.brf
*.pdf
*.log
*.out
*.synctex.gz
